{{>navbar}}

<div class="cart-container-all">
   <h1 class="product-d-h1">Cart</h1>

    <table class="cart-table">
        <thead class="cart-thead">
            <tr class="cart-tr">
                <th class="cart-th">imagen</th>
                <th class="cart-th">Producto</th>
                <th class="cart-th">Cantidad</th>
                <th class="cart-th">Precio</th>
                <th class="cart-th">Total</th>
                <th class="cart-th">Acciones</th>
            </tr>
        </thead>
        <tbody class="cart-body">
            {{#if products}}
            {{#each products}}
            <tr class="cart-tr">
                {{#each this.img}}
                <td><img src="/img/products/{{this}}" alt="{{this}}" class="img-cart"></td>
                {{/each}}
                <td>{{this.title}}</td>
                <td class="section-quantity">
                  <p class="p-quantity">{{this.quantity}}</p>
                  <div class="more-minus-btns">
                    <button class="btn-quantity btn-plus" data-product-id="{{this._id}}">+</button>
                    <button class="btn-quantity btn-minus" data-product-id="{{this._id}}">-</button>
                  </div>
                </td>
                <td>${{this.price}}</td>
                <td>${{this.total}}</td>
                <td><button class="btn-delete-product active-btn" onclick="deleteProductFromCart('{{this._id}}')"><img src="https://cdn-icons-png.flaticon.com/512/39/39220.png" class="icon-delete-img" /></button></td>
            </tr>
            {{/each}}

            {{else}}
                <tr>
                    <td>El carrito est치 vacio</td>
                </tr>
            {{/if}}
            
        </tbody>
    </table>
    <div class="container-go-products">
        <a href="/products" class="btn-send-msg btn-go-products">Go to Products</a>
        <button class="btn-send-msg btn-go-products" id="cart-id" onclick="generateTicket('{{cart_id}}')">Generar Ticket</button>
        <p>Total de la compra: <b>$<span>{{total}}</span></b></p>
    </div>
    

  
  
</section>
   
</div> 
{{>footer}} 


<script>

async function updateQuantity() {
  const cartId = "{{cart_id}}";
  console.log('cart id', cartId);
  const btnsPlus = document.querySelectorAll('.btn-plus');
  //const btnsMinus = document.querySelectorAll('')
  
  let product_id;
  btnsPlus.forEach((btn) => { 
    btn.addEventListener('click', async () => {
      product_id = btn.getAttribute("data-product-id");
      console.log('product id al hacer click', product_id);
      const url = `/api/carts/${cartId}/products/${product_id}`;
      const data = {
        product: product_id
      }
      const response = await fetch(url, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      if(response.ok){
        console.log('info enviada');
        window.location.reload();
      }

      if(response.status === 400) {
        btn.style.backgroundColor = 'grey';
        btn.disabled = true
        alert('No hay m치s en stock')
      }

    });
  });
}

updateQuantity();


async function restarQuantity() {
  const cartId = "{{cart_id}}";
  console.log('cart id', cartId);
  const btnsMinus = document.querySelectorAll('.btn-minus');
  //const btnsMinus = document.querySelectorAll('')
  
  let product_id;
  btnsMinus.forEach((btn) => { 
    btn.addEventListener('click', async () => {
      product_id = btn.getAttribute("data-product-id");
      console.log('product id al hacer click', product_id);
      const url = `/api/carts/${cartId}/products/${product_id}/restar-cantidad`;
      const data = {
        product: product_id
      }
      const response = await fetch(url, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      if(response.ok){
        console.log('info enviada');
        window.location.reload();
      }

      if(response.status === 400) {
        btn.style.backgroundColor = 'grey';
        btn.disabled = true
        alert('No se puede restar m치s')
      }

    });
  });
}

restarQuantity();
 

  async function deleteProductFromCart(pid) {
    const currentURL = window.location.href;
    const cartID = currentURL.split('/').pop();
    console.log('ID del producto:', pid);
    console.log('ID del carrito:', cartID);
    const url = `/api/carts/${cartID}/products/${pid}`;

    const response = await fetch(url, {
      method: 'DELETE'
    });

    if(response.ok){
      window.location.reload(); //recarga la p치gina
    }
  }

  async function calcularTotal() {

  }
</script>

