{{>navbar}}

<div class="product-details">
   <h1 class="product-d-h1">Cart</h1>

    <table class="cart-table">
        <thead class="cart-thead">
            <tr class="cart-tr">
                <th class="cart-th">imagen</th>
                <th class="cart-th">Producto</th>
                <th class="cart-th">Cantidad</th>
                <th class="cart-th">Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#if products}}
            {{#each products}}
            <tr class="cart-tr">
                {{#each this.img}}
                <td><img src="/img/{{this}}" alt="{{this}}" class="img-cart"></td>
                {{/each}}
                <td>{{this.title}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{/each}}

            {{else}}
                <tr>
                    <td>El carrito está vacio</td>
                </tr>
            {{/if}}
            
        </tbody>
    </table>
    <div class="container-go-products">
        <a href="/products" class="btn-send-msg btn-go-products">Go to Products</a>
        <button class="btn-send-msg btn-go-products" onclick="generateTicket('{{cart_id}}')">Generar Ticket</button>
    </div>
    

  
  
</section>
    
</div> 

<script>
  function generateTicket(cart_id) {
    // Realiza la solicitud para generar el ticket
    const cid = cart_id
    console.log('cid', cid)
    fetch(`/api/carts/${cid}/purchase`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
       body: JSON.stringify({}) 
    })
      .then(response => response.json())
      .then(data => {
        // Maneja la respuesta de la solicitud
        console.log("Ticket generado:", data.ticket);
        // Redirecciona a la página del ticket generado
      })
      .catch(error => {
        console.error("Error al generar el ticket:", error);
      });
  }
</script>

