
<div class="container-all">
  {{>navbar}}
  <aside class="filters">

  <div class="category-filters">
    
    <p class="filter-p">Categorías</p>
    <div class="filters-container">
      
      <button onclick="setCategory()" class="btn-category">Todos</button>
      <button onclick="setCategory('proteinas')" class="btn-category">Proteinas</button>
      <button onclick="setCategory('creatinas')" class="btn-category">Creatinas</button>
      <button onclick="setCategory('multivitaminicos')" class="btn-category">Multivitaminicos</button>
      <button onclick="setCategory('accesorios')" class="btn-category">Accesorios</button>
      <button onclick="setCategory('barras')" class="btn-category">Barras</button>
      <button onclick="setCategory('mancuernas')" class="btn-category">Mancuernas</button>
    </div>
  </div>


<div class="cant-results">
  <p>Resultados</p>
  <div class="number-result">
  <button onclick="setLimit(10)" class="show-num">10</button>
  <button onclick="setLimit(5)" class="show-num">5</button>
  <button onclick="setLimit(3)" class="show-num">3</button>
</div>
</div>

<div class="price-results">
  <p>Precio</p>
  <button onclick="setPrice('desc')" class="btn-send-msg">Desc</button>
  <button onclick="setPrice('asc')" class="btn-send-msg">Asc</button>
</div>

<div class="logout">
  <p class="user-mail">{{email}}</p>
  <button class="btn-logout" onclick="logout()">Logout</button>
</div>

</aside>


  <h2 class="prod-h2"><span>Usuario: <b class="b-role">{{role}}</b></span> <b class="link-for-premium">Conoce nuestros productos !!!</b>
  <button onclick="changeRole('{{user_id}}')">Cambiar role</button></h2>
  
  <section class="cards-container">

   <div class="cart-icon" onClick="goToCart('{{user_id}}','{{cart_id}}')">
    <i class="fa-solid fa-cart-arrow-down"></i>
  </div>
  

  {{#each products}}
  <div class="card" onclick="goDetails('{{_id}}')">
    {{#each thumbnail}}
      <img src="/img/{{this}}" alt="{{this}}" class="product-img"/>
    {{/each}}
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-price">${{price}}</p>
      <p class="card-price">{{category}}</p>
      <p class="card-price" id="owner-text">{{owner}}</p>
    </div>
  </div>
  <button class="btn-delete-product" onclick="deleteProduct('{{_id}}')"><img src="https://cdn-icons-png.flaticon.com/512/39/39220.png" class="icon-delete-img" /></button>
  {{/each}}


  </section>

  <div class="pagination-container">

    <div id="btns-pages" class="btns-pages-container">
      
      {{#if hasPrevPage}}
        <a href={{prevLink}} class="btn-send-msg btn-before" >Anterior</a>
      {{/if}}

      {{#if hasNextPage}}
        <a href={{nextLink}} class="btn-send-msg btn-after">Siguiente</a>
      {{/if}}
    

    </div>

    
  </div>
  {{>footer}}
</div>

<script src="/js/productsHandlebars/deleteProduct.js"></script>
<script src="/js/productsHandlebars/interfacePremium.js"></script>
<script src="/js/productsHandlebars/logout.js"></script>
<script src="/js/productsHandlebars/roles.js"></script>
<script src="/js/productsHandlebars/buttonsPaginate.js"></script>
<script src="/js/productsHandlebars/pagination.js"></script>
<script src="/js/productsHandlebars/redirections.js"></script>

<script>
  //import api from '../public/js/api.js';
  const query = new URLSearchParams(window.location.search); //me devuelve lo que tengo en la url
  const category = 'proteinas';
  const role = document.querySelector('.b-role').innerText;
  const totalPages = {{totalPages}};
  const currentPage = {{page}};

  document.addEventListener('DOMContentLoaded', function(){
    renderButtonPage()

    const currentPage = parseInt(query.get('page'));
    const totalPages = {{totalPages}};
    if (currentPage > totalPages || currentPage <= 0) {
      // redirigir a productos
        alert('Página inexistente');
        window.location.href = `/products?page=1&limit=10`;
          
      }

      interfazPremium(role);
  });

</script>
   
